.model_container
{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery_row
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.gallery_img
{
    width: 30%;
    border-radius: 30px;
}