h1
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img_preview{
    width: 25%;
    height: 25%;
    background-color: cadetblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.display_img
{
    width: 90%;
    height: 90%;   
    padding: 4%;
    
}

.p_container
{
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.desc_text
{
    width: 80%;
    margin-left: 10%;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    word-wrap: break-word;
}

.container
{
    
    margin-top: 25px;
    display: flex;
    gap: 25px;    
    justify-content: center;
    align-items: center;
}

.link_button
{    
    padding: 5px 5px;
    font-family: sans-serif;
    background-color: rgb(115, 201, 223);    
}

.contacts
{
    display: flex;
    justify-content: center;
}
.contact_text
{
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    margin-right: 15px;
    margin-left: 5px;
}
.heading_desc
{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    word-wrap: break-word;
}

